export PROJECT_ROOT="$(pwd)"

export SECRETS_DIR="${PROJECT_ROOT}/.secrets"
export ENVIRONMENTS_DIR="${PROJECT_ROOT}/environments"
export MODULES_DIR="${PROJECT_ROOT}/modules"
export VARS_DIR="${PROJECT_ROOT}/vars"

export B2_SECRETS_FILE="${PROJECT_ROOT}/.secrets/backblazeB2/b2.secrets.sh"
