source_up

export GITHUB_SECRETS_FILE="${PROJECT_ROOT}/.secrets/github/github.secrets.sh"

export GITHUB_REPO_MODULE="${PROJECT_ROOT}/modules/github/Repository"

if [[ ! -f "$B2_SECRETS_FILE" ]]; then
    echo "[WARNING] Failed to source Backblaze B2 credentials from file '$B2_SECRETS_FILE'"
fi

source "$B2_SECRETS_FILE"
