proxmox/*

cloudflare/*
github/*
github/repos/*

!proxmox/*example*.tfvars

!cloudflare/*example*.tfvars
!cloudflare/waf.tfvars

!cloudflare/cgg/
!cloudflare/cgg/*example*.tfvars
!cloudflare/cgg/waf.tfvars

!github/
!github/repos/
!github/repos/*example*.tfvars
!github/repos/tftestrepo.tfvars
