cloudflare/*
proxmox/*
backblazeB2/*

!cloudflare/
!cloudflare/example*.tfvars

!cloudflare/cgg/
!cloudflare/cgg/example*.tfvars

!proxmox/
!proxmox/example*.tfvars

!backblazeB2/
!backblazeB2/example*.tfvars
